@model Infinity.Models.Product

@if (User.IsInRole("Administrator"))
{
    <div class="Product">
        <img src = "../Content/@Html.DisplayFor(model => model.Image)" style="width:100% "/>
        <h4 style="color: cadetblue;">@Html.DisplayFor(model => model.Brand)</h4>
        <p style = "color: cadetblue;">@Html.DisplayFor(model => model.Model)</p>
        <p class = "Cost">Rs. @Html.DisplayFor(model => model.Cost)</p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Details", "Details", new { id = Model.ID }, new { target = "_blank" }) |
        @Html.ActionLink("Delete", "Delete", new { id = Model.ID })
    </div>

    <br />
}
else
{
    <div class="Product">
        <img src="../Content/@Html.DisplayFor(model => model.Image)" style="width:100% " />
        <h4 style="color: cadetblue;">@Html.DisplayFor(model => model.Brand)</h4>
        <p style="color: cadetblue;">@Html.DisplayFor(model => model.Model)</p>
        <p class="Cost">Rs. @Html.DisplayFor(model => model.Cost)</p>
        
        @using (Html.BeginForm("AddToCart", "Home", new { ProductId = Model.ID }, FormMethod.Post))
        {
            <button type="submit">Add to Cart</button>
        }
        
        @Html.ActionLink("Details", "Details", new { id = Model.ID }, new { target = "_blank" })
    </div>

    <br />
}